*.log
README.md.orig
README_BACKUP_123758.md
README_BACKUP_123930.md
README_BASE_123758.md
README_BASE_123930.md
README_LOCAL_123758.md
README_LOCAL_123930.md
README_REMOTE_123758.md
README_REMOTE_123930.md
